@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: Roboto, sans-serif;
    margin: 0;
}

.upper-box{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    gap: 65px;
}

.header{
    display: flex;
    justify-content: space-around;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    margin: 0px;
    margin-top: 16px;
}

.header ul{
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0;
    margin-top: 16px;

}

.header a{
    text-decoration: none;
    color: #c8c9ca;
    font-size: 18px;
}

.header-content{
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
    margin-left: 198px;
    margin-right: 198px;
}

.main-heading{
    max-width: 500px;
}

.main-heading h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.main-heading p{
    font-size: 18px;
    color: #c8c9ca;
}

.main-heading button{
    background-color: #3882F6;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border: 0;
}

.main-heading button a{
    text-decoration: none;
    color: #F9FAF8;
    font-size: 14px;
    font-weight: bold;
}

.placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8e8f8f;
    max-height: 250px;
    min-width: 500px;
}

.middle-part{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.information-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.information-box h2{
    font-size: 36px;
    color: #213044;
}

.information-box ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 130px;
}

.information-box ul li{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ill-placeholder{
    border: 3px solid #3882F6;
    max-width: 150px;
    min-height: 150px;
    border-radius: 10px;
}
.text{
    margin: 0;
    padding: 0;
    max-width: 150px;
    text-align: center;
}

.quotes-box{
    background-color: #c8c9ca;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quotes-box p{
    padding: 0;
    margin: 0;
    color: #1F3927;
    font-size: 36px;
    max-width: 800px;
    font-style: italic;
    font-weight: 300;
}

.quotes-box h3{
    margin-left: 580px;
    font-size: 24px;
}

.Outer-sign-up-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
}

.Sign-up-box{
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 1000px;
    min-height: 150px;
    border-radius: 10px;
}

.action-box h4{
    margin: 0;
    padding: 0;
    color: #F9FAF8;
    font-size: 24px;
}

.action-box p{
    margin: 0;
    padding: 0;
    color: #dedfe0;
    font-size: 18px;
}


.Sign-up-box button{
    background-color: #3882F6;
    border: 3px solid #F9FAF8;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    padding: 10px 25px;
}







